@import "../../../assets/config-scss/rem-calc.scss";
@import "../../../assets/config-scss/variables.scss";

:host {
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: rem-calc(15) rem-calc(20);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: rem-calc(10);

    input {
      width: 95%;
      background: none;
      border: none;

      font-size: rem-calc(18);
      color: var(--branco);

      &::placeholder {
        color: var(--branco);
      }
    }
  }

  .button-search {
    color: white;
    transition: transform 0.2s;
  }

  .button-search:hover,
  .button-search:focus {
    color: rgb(166, 246, 252) !important;
    transform: scale(1.2);
  }
}
